* {

  margin: 0;
  padding: 0;
}

.App {
  
  background-color: rgba(150, 75, 0, 0.600);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.board {


  width: calc(64px * 8);
  height: calc(64px * 8);
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(8, 64px);
  border: 1px solid black;
  grid-area: board;
  
}


.cell{

  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img{

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.black {

  background-color: rgb(150, 75, 0);;
}

.white {

  /* background-color: rgba(255, 166, 0, 0.800); */
  background-color: rgb(221, 111, 0);
}

.blue {

  background-color: lightseagreen;
}

.acceptedFigure {

  background-color: blueviolet;
}

.selected{

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* /////////////Timer///////////// */

.timer {

  border: 1px solid black;

  min-height: 40px;
  min-width: 40px;
  display: flex;
  margin-right: 400px;
}

.curplayerturn {

  display: block;
}

.blackInfo{
 
  grid-area: black;
}

.whiteInfo{
 
  grid-area: white;
}

.ert{
  display: grid;
  grid-template-areas: "black" "board" "white";
}

.eatenInfo__timer_text{

  font-size: 24px;
}

.eatenInfo__eatenFig{

  /* border: 1px solid black; */
  min-height: 30px;
  margin-top: 4px;
  position: relative;


}

.eatenImage__image{

  width: 30px;
  height: 30px;
  display: inline-block;
}

.eatenImage__image img{

  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
}

.eatenInfo__eatenFig_advantage {

  position: absolute;
    top: 0%;
}


