* {

  margin: 0;
  padding: 0;
}

.App {
  
  background-color: lightcyan;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.board {


  width: calc(64px * 8);
  height: calc(64px * 8);
  flex-wrap: wrap;
  display: flex;
  border: 1px solid black;
  
}


.cell{

  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell img{

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.black {

  background-color: skyblue;
}

.white {

  background-color: rgba(255, 166, 0, 0.800);
}

.blue {

  background-color: blue;
}

.acceptedFigure {

  background-color: red;
}

.selected{

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: blue;
  display: ;
  align-items: center;
  justify-content: center;

}







